:root{
    --background-rgb: 18, 55, 61;
    --color:#4deeea;
}
body{
    /* color: white !important; */
}



.MuiAppBar-colorPrimary{

    /* background: radial-gradient(circle, rgb(var(--background-rgb)) 0%, #121923, #121923 100%) !important; */
    
}
.makeStyles-drawerOpen-7{
    /* background: radial-gradient(circle, rgb(var(--background-rgb)) 0%, #121923, #121923 100%) !important; */
} 

.makeStyles-drawerClose-8 {
    /* background: radial-gradient(circle, rgb(var(--background-rgb)) 0%, #121923, #121923 100%) !important; */
}

.MuiTypography-body1 
{
color: #4deeea !important;
}